html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
  width: 100%;
}

/* main picture with floating "new arrival" box */
.main {
  background-image: url("../images/glasses-bg.png");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Header with logo, name, nav*/
.center {
  width: 960px;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
}

.name_nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text_name {
  display: flex;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.name img {
  margin-left: 2rem;
  margin-right: 1rem;
  height: 1.5rem;
  width: auto;
  display: inline-block;
}

.name h3 {
  color: white;
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 0rem;
}

/* navigation row, hidden menu for smaller screens*/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  display: flex;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 1rem 2rem 1rem 0rem;
}

.nav-menu {
  display: none;
}

.text-main {
  width: 960px;
  position: relative;
}

.see {
  background-color: white;
  color: black;
  /*width: 20rem;*/
  /*height: 7.5rem;*/
  margin-top: 10rem;
  font-weight: bold;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  display: block;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-self: flex-end;
  right: 2rem;
  /*margin-right: -2rem;*/
}

.why_us {
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-direction: row;
  margin-top: 3rem;
}

.exams {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 8rem;
  margin-right: 6rem;
}

.exams h3 {
  width: 7.0rem;
  text-align: center;
}

.exams img {
  width: 3.5rem;
  height: auto;
}

.fittings {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 8rem;
  margin-right: 6rem;
}

.fittings h3 {
  width: 4.0rem;
  text-align: center;
}

.fittings img {
  width: 5rem;
  height: auto;
}

.delivery {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 8rem;
}

.delivery h3 {
  width: 5rem;
  text-align: center;
}

.delivery img {
  width: 5rem;
  height: auto;
}

.about {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: row;
  margin-top: 3rem;
  /*width: 960px;*/
}

.optics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 5rem;
  width: 35%;
  margin-right: 5%;
}

.optics .us {
  width: 10rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
}

/*.optics .info {
  width: 35%;
  margin-right: 5%;
}*/

footer {
  width: 960px;
  background-color: azure;
  padding: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name .low {
  color: black;
}
